<p>What URL would you use to visit a Rails App that's running in Terminal through your browser?</p>
  <hr>
<p>
<p>http://localhost:3000</p>

<button class='btn btn-default btn-hg' id='show-btn'>Show Answer</button>
<br><br>
<button class="btn btn-primary btn-hg" id='got-it-btn'>Got it</button>
<button class="btn btn-default btn-hg" id='again-btn'>Again</button>