<div id='card-partial'>
  <%= react_component('StudyViewContainer',
    { 
      initialCard: @card,
      initialUserCard: @user_card,
      initialDeckSubscriptionId: @deck_subscription.id,
      initialStudySessionId: @study_session.id
    })
  %>
</div>