<div class='row flashcard-bg' >
  <div class='col-md-8'>
    <%= render "shared/errors", object: @user %>
    <h1 class='text-center'>Card Pepper</h1>
    <p class='lead text-center'>Free collaborative flashcards for everyone.</p>
  </div>
  <%= render 'form', object: @user %>  
</div>