<% if object && object.errors.any? %>
  <section id="errors">
    <p>
      The <%= object.class.name.titleize.downcase %> couldn't be saved. Please fix the following <%= 'error'.pluralize(object.errors.count) %>:
    </p>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><strong><%= message %></strong></li>
      <% end %>
    </ul>
  </section>
<% end %>