<% if object.errors.any? %>
  <section id="errors">
    <p>
      The <%= object.class.name.titleize.downcase %> couldn't be saved. <strong>Please fix the following <%= pluralize(object.errors.count, 'error') %></strong>:
    </p>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>