<div class="typeform-widget" data-url="https://cardpepper.typeform.com/to/sdP8zm" data-text="Card Pepper Bug Report" style="width:100%;height:500px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

<p style="color:#7b8996">Prefer email? Send your bug to cardpepper@gmail.com with subject "found a mean bug"</p>