<div class='row'>
  <div class='col-md-8'>
    <p>Your Decks:</p>
    <% if @decks.any? %>
      <% @decks.each do |deck| %>
        <%= render 'decks/title', deck: deck %>
        <% if deck.card_suggestions.pending.count > 0 %>
          <br><small>
                <%= link_to "#{pluralize(deck.card_suggestions.pending.count, 'card')} awaiting approval.", edit_deck_path(deck), class:'no-link-primary' %>
                </small>
        <% end %>
        <hr>
      <% end %>
    <% end %>
    
    <p><br><%= link_to "Build a New Deck", new_deck_path, class:'btn btn-primary' %></p>
  </div>

  <div class='col-md-4'>
    <%= render 'shared/sidebar' %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.hideable').removeClass('hidden');
  });
</script>