<div id=<%= @card.id %> >
  <br>
  <p id='card-question'>
    <%= @card.question %>
  </p>
  <hr>
  <p id='card-answer'>
    <%= @card.answer_preview %>
  </p>
  <p>
    <button class='btn btn-default btn-lg' id='show-btn'>Show Answer</button>
  </p>
</div>