<div class='hideable hidden' id='edit-cards-form'>
  <table class="table table-striped">
    <tbody id='cards-table'>
      <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Creator</th>
        <th>Delete</th>
      </tr>

      <% @cards.each do |card| %>
        <%= render 'cards/table_row', card: card, deck: @deck %>
      <% end %>
    </tbody>
  </table>
</div>
