<div class='hideable hidden' id='edit-cards-form'>
  <table class="table table-striped">
    <tbody id='cards-table'>
      <tr>
        <th>Question & Answer</th>
        <th>Creator</th>
        <% if @show_edit_button == true %>
          <th>Edit</th>
        <% end %>
      </tr>

      <% @cards.each do |card| %>
        <%= render 'cards/table_row', card: card, deck: @deck %>
      <% end %>
    </tbody>
  </table>
</div>
