<tr id=<%="card#{card.id}" %> >
  <td><%= "#{card.question}" %></td>
  <td><%= "#{card.answer}" %></td>
  <td><%= "#{card.user.name}**" %></td>
  <td><div class='label label-danger'>X</div></td>
</tr>