<div id='anki-import-partial'>
  <h3>How-to import to Anki:</h3>

  <ol>
    <li>Create and Name a New Deck</li>
    <%= image_tag "1_anki.png" %><br><br>

    <li>Click Import From The Main Menu </li>
    <%= image_tag "2_anki.png" %><br><br>

    <li>Select Your New Deck in the Import Settings and Import</li>
    <%= image_tag "3_anki.png" %><br><br>
  </ol>
</div>
<br><br>