<div class='row'>
  <div class='col-md-8'>
    <h3>Editing: <%= @deck.title %></h3>

    <%= render 'cards/new' %>    
    <%= render 'chapters/edit' %>
    <%= render 'decks/details' %>
  </div>
</div>