<div class='row'>
  <div class='col-md-8'>
    <h3 class='text-center'>Top Decks</h3>
    <% @decks.each do |deck| %>
      <%= render 'decks/title', deck: deck %>
    <% end %><br>
  </div>
  <br>
</div>
