<div class='row'>
  <div class='col-md-8'>
    <h3><%= @deck.title %>
      <span class='btn btn-xs btn-default' %>
        <%= link_to 'Edit', edit_deck_path(@deck) %>
      </span>
    </h3>
  <h3>Chapters</h3>

    <% if @deck.chapters.any? %>
      <ol>
        <% @deck.chapters.each do |chapter| %>
        <li>
          <span class='btn btn-xs btn-primary btn-danger'>X</span>
          <!-- <span class='btn btn-xs btn-primary mhm btn-primary'>E</span> -->
          <%= link_to chapter.title, chapter %>
        </li>
        <% end %>
      </ol>
    <% end %>
    <br>
    <br>
  </div>
</div>