<div class='row'>
  <div class='col-md-8'>
    <%= react_component('Decks.Show.View', cards: @cards_with_client_side_attributes, cardEdits: @card_edits, cardSuggestions: @card_suggestions, deckEditor: @deck_editor, currentUser: current_user.serializable_hash, deck: @deck.serializable_hash) %>
  </div>

  <% if current_user && (current_user.id != @deck.user.id) %>
    <div class='col-md-4'>
      <%= react_component('CardSuggestionView', currentUser: current_user.serializable_hash, deckID: @deck.id, deckEditorID: @deck.user_id ) %>
    </div>
  <% end %>
</div>