<h3>Michel Thomas Spanish Essentials Deck</h3>
<span class='label label-default'>Some Information | 1,383 Downloads | 23 Contributors</span>
<h6>Add a Card</h6>
<div class="form-group">
  <div class="input-group 15less-margin">
    <span class="input-group-addon">Front</span>
    <input type="text" class="form-control" placeholder="What is 'Blue' in Spanish?"/>
  </div>
  <br class='brsmall'>
  <div class="input-group 15less-margin">
    <span class="input-group-addon"> Back</span>
    <input type="text" class="form-control" placeholder="Azul" />
  </div>
  <br class='brsmall'>
  <button class="btn btn-default btn-block">Save</button>
</div>

<h5>Sections</h5>
