<% if object.errors.any? %>
<section id="errors">
  <header>
    <h5>
      Oops! The <%= object.class.name.titleize.downcase %> could not be saved.
    </h5>
    <h5>
      Please correct the following <%= pluralize(object.errors.count, "error") %>:
    </h5>
  </header>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</section>
<% end %>