<% flash.each do |key, value| %>
  <%= content_tag(:div, value, :class => "flash #{key} alert") %>
<% end %>

<!-- Bootstrap Alerts: -->
<!-- <div class="alert alert-success" role="alert">...</div>
<div class="alert alert-info" role="alert">...</div>
<div class="alert alert-warning" role="alert">...</div>
<div class="alert alert-danger" role="alert">...</div> -->