<div class="row bottom-menu bottom-menu-inverse">
  <!-- <div class="container"> -->
    <%#= link_to "Home", decks_path %> 
    <%#= link_to "About", '#' %> 
    <%#= link_to "Source", '#' %> 
    <%#= link_to "Contact", "#" %> 
  <!-- </div> -->
</div>